In [2]:
import pandas as pd
import copy
data = pd.read_csv('./DrivenData/training_values.csv')
holdout = pd.read_csv('./DrivenData/test_values.csv')
holdout.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [ ]:
train_objs_num = len(data)
dataset_new = pd.concat(objs=[data, holdout], axis=0)
dataset_new = dataset_new.drop(['id'], axis=1)
dataset_new.fillna("", inplace=True)
dataset_new = pd.get_dummies(dataset_new)
train = copy.copy(dataset_new[:train_objs_num])
test = copy.copy(dataset_new[train_objs_num:])

In [1]:
print(train)

NameError: name 'train' is not defined

In [ ]:
train.info()

In [7]:
dummies = pd.get_dummies(data)

          id  amount_tsh  gps_height  longitude   latitude  num_private  \
0      69572      6000.0        1390  34.938093  -9.856322            0
1       8776         0.0        1399  34.698766  -2.147466            0
2      34310        25.0         686  37.460664  -3.821329            0
3      67743         0.0         263  38.486161 -11.155298            0
4      19728         0.0           0  31.130847  -1.825359            0
...      ...         ...         ...        ...        ...          ...
59395  60739        10.0        1210  37.169807  -3.253847            0
59396  27263      4700.0        1212  35.249991  -9.070629            0
59397  37057         0.0           0  34.017087  -8.750434            0
59398  31282         0.0           0  35.861315  -6.378573            0
59399  26348         0.0         191  38.104048  -6.747464            0

       region_code  district_code  population  construction_year  ...  \
0               11              5         109               1999  ...
1               20              2         280               2010  ...
2               21              4         250               2009  ...
3               90             63          58               1986  ...
4               18              1           0                  0  ...
...            ...            ...         ...                ...  ...
59395            3              5         125               1999  ...
59396           11              4          56               1996  ...
59397           12              7           0                  0  ...
59398            1              4           0                  0  ...
59399            5              2         150               2002  ...

       waterpoint_type_dam  waterpoint_type_hand pump  \
0                        0                          0
1                        0                          0
2                        0                          0
3                        0                          0
4                        0                          0
...                    ...                        ...
59395                    0                          0
59396                    0                          0
59397                    0                          1
59398                    0                          1
59399                    0                          1

       waterpoint_type_improved spring  waterpoint_type_other  \
0                                    0                      0
1                                    0                      0
2                                    0                      0
3                                    0                      0
4                                    0                      0
...                                ...                    ...
59395                                0                      0
59396                                0                      0
59397                                0                      0
59398                                0                      0
59399                                0                      0

       waterpoint_type_group_cattle trough  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0
...                                    ...
59395                                    0
59396                                    0
59397                                    0
59398                                    0
59399                                    0

       waterpoint_type_group_communal standpipe  waterpoint_type_group_dam  \
0                                             1                          0
1                                             1                          0
2                                             1                          0
3                                             1                          0
4                                             1                          0
...                                         ...                        ...
59395                                         1                          0
59396                                         1                          0
59397                                         0                          0
59398                                         0                          0
59399                                         0                          0

       waterpoint_type_group_hand pump  waterpoint_type_group_improved spring  \
0                                    0                                      0
1                                    0                                      0
2                                    0                                      0
3                                    0                                      0
4                                    0                                      0
...                                ...                                    ...
59395                                0                                      0
59396                                0                                      0
59397                                1                                      0
59398                                1                                      0
59399                                1                                      0

       waterpoint_type_group_other
0                                0
1                                0
2                                0
3                                0
4                                0
...                            ...
59395                            0
59396                            0
59397                            0
59398                            0
59399                            0

[59400 rows x 66181 columns]