# Opgaver i uge 9
# Opgave 1
### 1.1 Vurder datasættet
Vurder datasættet fra rainforest.
- beslut om du vil fjerne kolonner eller impute værdier, eller en blanding.
- Lad os se, hvad der giver det bedste resultat.

In [3]:
# Importerer typiske hjælpebiblioteker
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline
# importer sklearn-pakkerne der skal bruges
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [4]:
input_file = "..\\input\\rainforest.csv"
properties = pd.read_csv(input_file) # Her indlæses i en dataframe
properties.info()
properties.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  65 non-null     int64
 1   dbh         65 non-null     int64
 2   wood        64 non-null     float64
 3   bark        4 non-null      float64
 4   root        13 non-null     float64
 5   rootsk      13 non-null     float64
 6   branch      43 non-null     float64
 7   species     65 non-null     object
dtypes: float64(5), int64(2), object(1)
memory usage: 4.2+ KB

   Unnamed: 0  dbh   wood  bark   root  rootsk  branch          species
0          27    6    NaN   NaN    6.0     0.3     NaN  Acacia mabellae
1          61   23  353.0   NaN  135.0    13.0    35.0  Acacia mabellae
2          62   20  208.0   NaN    NaN     NaN    41.0  Acacia mabellae
3          63   23  445.0   NaN    NaN     NaN    50.0  Acacia mabellae
4          65   24  590.0   NaN    NaN     NaN     NaN  Acacia mabellae

In [6]:
prop_dropna = properties.dropna()
prop_dropna.info()
prop_dropna.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 38 to 41
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      int64
 1   dbh         4 non-null      int64
 2   wood        4 non-null      float64
 3   bark        4 non-null      float64
 4   root        4 non-null      float64
 5   rootsk      4 non-null      float64
 6   branch      4 non-null      float64
 7   species     4 non-null      object
dtypes: float64(5), int64(2), object(1)
memory usage: 288.0+ bytes

    Unnamed: 0  dbh   wood   bark  root  rootsk  branch        species
38         124   27  550.0  105.0  44.0     9.0    59.0  B. myrtifolia
39         125   26  414.0   78.0  38.0    13.0    44.0  B. myrtifolia
40         126    9   42.0    8.0   5.0     1.3     7.0  B. myrtifolia
41         127   12   85.0   13.0  17.0     2.2    16.0  B. myrtifolia

In [10]:
from sklearn.preprocessing import Imputer
imp = Imputer('NaN','mean')
prop_imp = imp.fit_transform(properties)
prop_imp.head()
prop_imp.info()

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (c:\users\jespe\.virtualenvs\machinelearningnotebook-qxxtnzx7\lib\site-packages\sklearn\preprocessing\__init__.py)

## 1.2 Del sættet op
Del sættet op i samples og labels, så du har et datasæt, som kun består af talværdier for de enkelte træsorter.

## 1.3 Udfør clustering
Udfør en clustering med KMeans:
- Hvor mange clusters skal vi inddele i?
- Hvordan finder vi et godt antal?

## 1.4 Sammenhold
Sammenhold wood mod branch i et scatterplot

## 1.5 Cross Tabulation
Udfør en cross tabulation
- Hvor gode er dine resultater?

## 1.6 StandardScaler og Pipeline
Brug en StandardScaler og en Pipeline til at få bedre resultater
- Test igen med cross tabulation.

## 1.7 Intristic dimension
Check for intristic dimensions
- Lav en dimensionality reduction der svarer til bedste bud
- Blev dine resultater bedre?

## Opgave 2
Classify song genres from audio data (fra datacamp projects)